<%= render partial: 'user', object: @user %>
<div class="container">
  <div class="card border-secondary mb-3 mt-5">
    <div class="card-body">
      <h4 class="card-title">Bio</h4>
      <p class="card-text"><%= @user.bio %></p>
    </div>
  </div>
  <div>
    <% @posts.each do |post| %>
      <div class= "user-data mb-3">
        <div class="card-body">
          <%= link_to user_post_path(@user.id, post.id), class: "text-decoration-none text-color"  do %>
            <%= render partial: 'posts/post', object: post %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
  <div>
    <button type="button" class="d-grid gap-2 col-1 mx-auto"><%= link_to "See all posts", user_posts_path(@user.id), class: "text-decoration-none text-color" %></button>
  </div>
</div>
