<%= render partial: 'users/user', object: @user%>
<div class="container">
  <button type="button" class="d-grid col-1"><%= link_to "Add post" , new_post_path ,class: "text-decoration-none text-color" %></button>
  <% @posts.each do |post| %>
    <%=link_to user_post_path(@user.id, post.id), class: "text-decoration-none text-color" do%>
      <div class="user-data mt-4">
        <%= render partial: 'post', object:post %>
      </div>
      <% if can? :destroy, post %>
        <button>
          <%= link_to "Delete post", post_path(post.id) ,class: "text-decoration-none text-color" , method: "delete" %>
        </button>
      <% end %>
      <div class="user-data mt-2">
        <%= render partial: 'comments/comment', locals:{post:post}, collection: post.recent_comments %>
      </div>
    <%end%>
    
  <%end%>
  <div class="pagination">
    <button type="button" class="d-grid gap-2 col-1 mx-auto mt-3">Pagination</button>
  </div>
</div>
</div>
